/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f5f7fb;
  color: #293264;
  font-family: "Karla", Arial, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("./assets/blobBottom.svg"), url("./assets/blobTop.svg");
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  background-size: 20rem 20rem, 20rem 20rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 0.5rem 0;
}

#start-game-btn {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
}

#questions {
  display: flex;
  flex-direction: column;
}

input[type="radio"] {
  display: none;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dbdef0;
  margin-bottom: 1rem;
}

.answers {
  display: flex;
  gap: 0.75rem 1rem;
  flex-wrap: wrap;
}

.base-label {
  font-family: Inter;
  font-size: 0.64rem;
  display: inline-block;
  padding: 0.4rem 0.5rem;
  border: 1px solid #4d5b9e;
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
}

.base-label:has(input[type="radio"]:checked) {
  background-color: #d6dbf5;
  border-color: #d6dbf5;
}

.base-label:has(input[type="radio"]:disabled) {
  cursor: default;
}

.base-label.right:has(input[type="radio"]:checked),
.base-label.right {
  background-color: #94d7a2;
  border-color: #94d7a2;
}

.base-label.wrong:has(input[type="radio"]:checked),
.base-label.wrong {
  background-color: #f8bcbc;
  border-color: #f8bcbc;
}

.base-label.unselected {
  opacity: 0.5;
}

.question {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 0.5rem 0;
}

button {
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-family: Inter;
  font-size: 0.64rem;
  font-style: normal;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

.game-results {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.results-display {
  text-align: center;
  font-family: Inter;
  font-size: 0.8rem;
  font-weight: 700;
}
